body {
    background-color: #FAF9F6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#header, #header-bases, #besteirol {
    background-color: rgba(1, 1, 184, 0.356);
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logo {
width: 20;
height: 20;
margin-right: 70px;
}

#input-origem, #input-destino, #input-raio {
    margin-top: 30px;
}


#map {
    height: 530px;
    width: 600px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    align-items: center;
}

#list-bases {
    height: 50%;
    width: 50%;
    overflow: scroll;
}